@import "tailwindcss";

@theme {
  --color-brand-dark: #1a1a1a;
  --color-brand-accent: #f97316;
  --color-brand-info: #0ea5e9;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}

button {
    cursor: pointer;
}
